//===================Palette=======================
$shark: #27272a;
$deep-shark: #202124;
$ship-gray: #414144;
$santas-gray: #a1a1aa;
$white: #ffffff;
$cornflower-blue: #5f98f5;
$mint-gray: #95ffac;
$wild-blue: #7890b2;
$silver: #c6c6c6;
$punch: #df4444;
$jumbo: #71717a;

//====================Size=====================
$bar-height: 44px;
$row-height: 60px;
$gap-m: 23px;
