@import '../../../scss/constants';

.row {
  &IsEditing {
    td {
      border-color: red;
    }
  }
}

.input {
  pointer-events: none;
  color: inherit;
  background-color: inherit;
  border: none;

  &isEditing {
    pointer-events: auto;
  }
}

.btnsWrapper {
  display: flex;
  position: relative;
  padding: 0 4px;
  float: left;

  &Shift {
    margin-left: 20px;
  }

  &DoubleShift {
    margin-left: 40px;
  }

  &IsDerrived {
    &:before {
      content: '';
      position: absolute;
      height: 1px;
      width: 15px;
      background-color: $silver;
      left: -4px;
      bottom: 50%;
      z-index: 1;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 6px;
    z-index: 10;
  }

  &:hover {
    &:after {
      background-color: $ship-gray;
    }
  }
}

.btn {
  position: relative;
  z-index: 100;
  
  &:before {
    content: '';
    position: absolute;
    top: 20%;
    bottom: 30%;
    left: 20%;
    right: 22%;
    border: 1px solid blue;
    background-color: $shark;
    z-index: -1;
  }

  & + & {
    margin-left: 4px;
    visibility: hidden;
  }

  &Folder {
    color: $cornflower-blue;
  }

  &SubFolder {
    color: $mint-gray;
  }

  &List {
    color: $wild-blue;
  }

  &Delete {
    color: $punch;
    margin-left: 9px !important;
  }

  @at-root .btnsWrapper:hover {
    .btn {
      visibility: visible;
    }
  }
}

.bar {
  position: absolute;
  width: 1px;
  background-color: $silver;
  top: 50%;
  left: 15px;
  z-index: 1;
}
