@import '../../scss/constants';

.table {
  font-size: 1.4rem;
  border-collapse: collapse;
  width: 100%;

  th {
    height: 42px;
  }

  td {
    height: $row-height;
    color: $white;
  }

  td,
  th {
    border-bottom: 1px solid $ship-gray;
    text-align: left;
    padding-left: 12px;
  }
}

.colBtns {
  width: 6%;
}

.colName {
  width: 44%;
}

.colCommon {
  max-width: 13%;
}
